/* Mudar a partir da atualizacao que fiz no da tech */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
div {
	font-size: inherit;
	font-weight: normal;
	text-size-adjust: auto;
	overflow-wrap: break-word;
	vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	border: none;
	background-color: transparent;
}

button,
input,
select,
label {
	cursor: pointer;
}

ul {
	list-style: none;
}

/* @media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
} */
