.itemSection {
	display: grid;
	grid-template-rows: auto 1fr;
}

.title {
	margin-bottom: 0.25em;
}

.itemList {
	display: grid;
	align-content: start;
	align-self: start;
	/* TODO alinhar com o styleguide */
	gap: 16px;
	padding: var(--padding-block--small) var(--padding-inline--small);
	border: var(--border-width--medium) solid var(--secondary700);
	border-radius: var(--border-radius--medium);
}

.item {
	padding-inline: 0.25em;
	border: var(--border-width--medium) solid var(--tertiary700);
	border-radius: var(--border-radius--medium);
	width: 100%;
	text-align: left;
}

.item:disabled {
	background-color: var(--tertiary100);
	color: inherit;
}
