.container {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr auto auto;
	justify-self: stretch;
	align-self: stretch;
	gap: var(--padding-inline);
}

.greeting {
	grid-column: span 2;
}

.itemSection {
	display: grid;
	grid-template-rows: auto 1fr;
}

.title {
	margin-bottom: 0.25em;
}

.itemList {
	display: grid;
	align-content: start;
	/* alinhar com o styleguide */
	gap: 16px;
	padding: var(--padding-block--small) var(--padding-inline--small);
	border: var(--border-width--medium) solid var(--secondary700);
	border-radius: var(--border-radius--medium);
}

.item {
	padding-inline: 0.25em;
	border: var(--border-width--medium) solid var(--tertiary);
	border-radius: var(--border-radius--medium);
}

.searchSection {
	grid-column: span 2;
}

.search {
	border: var(--border-width--medium) solid var(--secondary700);
	border-radius: var(--border-radius--medium);
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	grid-column: span 2;

	padding-top: var(--padding-inline);
	border-top: var(--border-width--medium) solid var(--quaternary);
}

.buttonContainer {
	display: flex;
	/* alinhar com o styleguide */
	gap: 16px;
}
