.frameWrapper {
	display: grid;
	min-height: var(--full-height-fallback);
	min-height: var(--full-height);
	padding: var(--padding-block) var(--padding-inline);
}

.frame {
	display: grid;
	grid-template-columns: var(--padding-inline) 1fr var(--padding-inline);
	place-items: center;
	padding-block: var(--padding-block);
	border: var(--border-width--large) solid var(--primary);
	border-radius: var(--border-radius--large);
}

.frame > * {
	grid-column: 2/3;
}
