.frameWrapper {
	display: grid;
	min-height: var(--full-height-fallback);
	min-height: var(--full-height);
	padding: var(--padding-block) var(--padding-inline);
}

.frame {
	display: grid;
	place-items: center;
	padding: var(--padding-block) var(--padding-inline);
	border: var(--border-width--large) solid var(--primary);
	border-radius: var(--border-radius--large);
}
