.align {
	padding-inline: var(--padding-inline);
}
.title {
	margin-bottom: 0.25em;
}

.container {
	display: grid;
	justify-self: stretch;
	align-self: stretch;
	gap: var(--padding-inline);

	grid-column: 1/4;
}

.greeting {
	text-align: center;
}

.dashboard {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: inherit;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-top: var(--padding-inline);
	padding-inline: var(--padding-inline);
	border-top: var(--border-width--medium) solid var(--quaternary);
}

.buttonContainer {
	display: flex;
	/* TODO alinhar com o styleguide */
	gap: 16px;
}

@media (max-width: 65em) {
	.dashboard {
		grid-template-columns: 1fr;
	}

	.dashboard > * {
		grid-column: span 1;
	}
}
